
<div class="min-h-screen flex flex-col bg-rewards-dark text-rewards-textLight">
  <div class="fixed inset-0 bg-gradient-to-br from-rewards-dark via-rewards-darkBlue to-rewards-dark -z-10 opacity-90"></div>
  
  {% section 'hero' %}
  
  <main class="flex-grow">
    {% section 'sweepstakes-list' %}
    {% section 'cta-section' %}
  </main>
</div>
